.clients-cnt{
    background-color: var(--white);
    min-height: 400px;
    position: relative;
    bottom: 60px;
}
.pad-cli{
    padding-top: 5rem;
    gap: 1em;
}
.client-title{
    text-transform: uppercase;
    font-size: 0.594em;
    font-weight: 600;
    line-height: 1.8;
    color: var(--light-grey);
}
.brands{
    width: 100%;
}
.cnt-brand{
    max-width: 100%;
    height: auto;
}
.brand{
    max-width: 80%;
    height: auto;
    transition: transform .2s;
}
.brand:hover{
    transform: scale(1.2);
}
.posit{
    position: relative;
    top: 65px;
    gap: 2em;
    padding-top: 40px;
}

@media (width < 576px) {
    .brand{
        max-width: 2.25rem;
    }
    .posit{
        display: flex;
        justify-content: center;
    }  
}

@media (min-width: 576px) and (max-width: 767.99px){
    .brand{
        max-width: 3.25rem;
    }
    .posit{
        display: flex;
        justify-content: center;
    }
}

@media (min-width: 768px) and (max-width: 991.99px){
    .brand{
        max-width: 4.25rem;
    }
    .posit{
        display: flex;
        justify-content: center;
    }
}

@media (min-width: 992px) and (max-width:1199.99px){
    .brand{
        max-width: 5.25rem;
    }
    .posit{
        display: flex;
        justify-content: center;
    }
}

@media (width > 1200px){
    .brand{
        max-width: 6.25rem;
    }
    .posit{
        gap:0;
    }
}
