.tarjeta{
    background-color: var(--blue);
    min-height: 220px;
    width: 100%;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-content: center;
}
.posit{
    position: relative;
    top: 65px;
    gap: 2em;
}
.card-flex{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: start;
    border-radius: 3px;
    color: var(--white);
    padding: 2em 0em 2em 2em;
}
.card-flex h4{
    margin: 0;
    line-height: 1.8;
}
.card-flex p{
    font-size: 0.7em;
    line-height: 1.8;
}
.col-rg , .col-lf{
    justify-content: center;
    display: flex;
}
.cnt-ph {
    position: relative; 
    width: 40%; 
    height: 100%; 
}
  
.cnt-ph img {
   position: absolute; 
   bottom: 0; 
   right: 0; 
   max-width: 100%; 
   max-height: 95%; 
}
.card-btn{
    font-size: 0.7em;
    border: 1px white solid;
    background-color: transparent;
    color: white;
    padding: 0.8em 2em;
    border-radius: 0.3em;
}
.card-btn:hover{
    transition: .2s ease-in;
    background-color: var(--light-grey);
    border: var(--light-grey) solid 1px;
}

@media (width < 576px) {
    .card-flex h4{
        font-size: 1.2em;
    }
}

@media (min-width: 576px) and (max-width: 767.99px){
    .card-flex h4{
        font-size: 1.3em;
    }
}


@media (min-width: 768px) and (max-width: 991.99px){
    .card-flex h4{
        font-size: 1.4em;
    }
}


@media (min-width: 992px) and (max-width:1199.99px){
    .card-flex h4{
        font-size: 1.5em;
    }
    .card-flex p{
        font-size: 0.8em
    }
    
}
@media (width > 1200px){
    .col-rg{
        justify-content: start;
        display: flex;
    }
    .col-lf{
        justify-content: end;
        display: flex;
    }
    .posit{
        gap:0;
        width: 1140px;
    }
    .card-flex h4{
        font-size: 1.5em;
    }
    .card-flex p{
        font-size: 0.8em
    }
}
