.cnt-cont{
    min-height: 575px;
    position: relative;
}
.header-title{
    font-weight: 600;
    color: var(--white);
    line-height: 1.4;
}
.cta-header-flex{
    display: flex;
    flex-direction: row;
}
.header-parag{
    color: var(--light-grey);
    font-weight: 600;
    line-height: 1.7em;
}
.btn{
    border-radius: 5px;
    font-weight: 600;
}
.btn-lg{
    padding: 0.5rem 1.3rem;
}

@media (width < 576px) {
    .header-title{
        font-size: 1.744em !important;
    }
    .header-parag {
        font-size: 0.75em;
    }
    .btn {
        font-size: 0.7em;
    }
    .cta-header-flex{
        flex-direction: column;
    }
}

@media (min-width: 576px) and (max-width: 767.99px){
    .header-title{
        font-size: 1.944em !important;
    }
    .header-parag {
        font-size: 0.8em;
    }
    .btn {
        font-size: 0.75em;
    }
}


@media (min-width: 768px) and (max-width: 991.99px){
    .header-title{
        font-size: 2.044em !important;
    }
    .header-parag {
        font-size: 0.85em;
    }
    .btn {
        font-size: 0.8em;
    }
}


@media (min-width: 992px) and (max-width:1199.99px){
    .header-title{
        font-size: 2.144em !important;
    }
    .header-parag {
        font-size: 0.9em;
    }
    .btn {
        font-size: 0.85em;
    }
}

@media (width > 1200px){
    .header-title{
        font-size: 2.344em !important;
    }
    .header-parag{
        font-size: 1em;
    }
    .btn{
        font-size: 0.8em;
    }
    /****margenes de la app en general***/
    .container{
        max-width: 75%;
    }
}


