.cnt-footer{
    background-color: var(--dark-grey);
    min-height: 200px;
    padding-top: 40px;
}
.row-footer{
    display: flex;
    min-height: 220px;
    align-items: end;
}
.cnt-text-foo{
    line-height: 1.8;
}
.cnt-text-foo h5{
   color: var(--white);
   font-size: 1em;
}
.cnt-text-foo p{
    color: var(--light-grey);
    font-size: 0.9em;
}
.social-icn{
    color: var(--light-grey);
    text-decoration: none;
}
.social-icn:hover , .links:hover{
    cursor: pointer;
    transition: .3s ease;
    color: var(--white);    
}
.cnt-icon{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 20px;
}

/**/
.cnt-ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}
.ul-footer{
    padding-left: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: justify;
    gap: 8px;
    font-size: 0.8em;
    list-style-type: none;
}
.links{
    text-transform: capitalize;
    font-weight: 500;
    color: var(--light-grey);
    text-decoration: none;
}
.bold-foo{
    color: var(--white);
    margin-bottom: .5em;
    text-transform: uppercase !important;
    font-weight: 600;
}
.box-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}


@media (width < 576px) {
    .box-text{
        width: 100%;
    }
    .row-footer{
        gap: 4em;
    }
    .cnt-text-foo p{
        font-size: 0.8em;
    }
}

@media (min-width: 576px) and (max-width: 767.99px){
    .box-text{
        width: 100%;
    }
    .row-footer{
        gap: 4em;
    }
}


@media (min-width: 768px) and (max-width: 991.99px){
    .box-text{
        width: 100%;
    }
    .row-footer{
        gap: 4em;
    }
}


@media (min-width: 992px) and (max-width:1199.99px){
    .cnt-ul{
        width: 80%;
    }
    
}
@media (width > 1200px){
    .cnt-ul{
        width: 80%;
    }
}
