.tech-cont{
    min-height: 100vh;
    background-color: var(--blue);
    width: 100%;
    position: relative;
    z-index: 1;
}
.mw-tch{
    padding-top: 3.75em;
    gap: 0.5rem;
}
.tech-text{
    align-items: center;
}
.tech-text h2{
    color: var(--white);
    font-weight: 500;
    margin-bottom: 1em;
    text-align: center;
}
.tech-text p{
    color: #9BB8FF;
    line-height: 1.8;
    max-width: 500px;
    text-align: center;
}
.flex-skill-icon{
    width: 100%;
}
.cnt-cnt{
    display: flex;
    justify-content: center;
}

@media (width < 576px) {
    .tech-cont{
        bottom: 2.5rem;
    }
    .icon-tch{
        font-size: 2.1em;
    }
    .tech-text h2{
        font-size: 1.481em;
    }
    .tech-text p{
        font-size: 0.85em;
    } 
}

@media (min-width: 576px) and (max-width: 767.99px){
    .tech-cont{
        bottom: 2.8125rem;
    }
    .icon-tch{
        font-size: 2.5rem;
    }
    .tech-text h2{
        font-size: 1.581em;
    }
    .tech-text p{
        font-size: 0.85em;
    }
}


@media (min-width: 768px) and (max-width: 991.99px){
    .tech-cont{
        bottom: 2.5em;
    }
    .icon-tch{
        font-size: 3em;
    }
    .tech-text h2{
        font-size: 1.681em;
    }
    .tech-text p{
        font-size: 0.9em;
    }
}


@media (min-width: 992px) and (max-width:1199.99px){
    .tech-cont{
        bottom: 3.75rem;
    }
    .icon-tch{
        font-size: 3.2em;
    }
    .tech-text h2{
        font-size: 1.781em;
    }
    .tech-text p{
        font-size: 0.95em;
    }
}
@media (width > 1200px){
    .tech-cont{
        bottom: 3.125rem;
    }
    .mw-tch{
        gap:0;
    }
    .flex-skill-icon{
        width: 65%;
    }
    .icon-tch{
        font-size: 3.75em;
    }
    .tech-text{
        align-items: flex-start;
    }
    .tech-text h2{
        font-size: 1.781em;
        text-align: start;
    }
    .tech-text p{
        font-size: 1em;
        text-align: start;
    }
    .cnt-cnt{
        justify-content: start;
    }
    
}

