.tech-cont{
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--blue);
    width: 100%;
    position: relative;
    bottom: 60px;
    z-index: 1;
}
.mw-tch{
    display: flex;
    align-items: center;
}

.tech-text h2{
    color:var(--white);
    font-size: 1.6em;
    margin-bottom: 1em;
}
.tech-text p{
    color: var(--ultra-light-grey);
    font-size: 0.9em;
    line-height: 1.8;
    width: 62%;
}
.center-skill{
    display: flex;
    justify-content: center;
}
.flex-skill-icon{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    gap: 2.5em;
    width: 55%;
}
@media (width < 1200px){
    .tech-cont{
        height: 130vh;
    }
    .tech-text{
        text-align: center;
        width: 80%;
    }
    .tech-text p{
        width: 100%;
        font-size: 0.8em;
    }
    .flex-skill-icon{
        width: 100%;
    }
    .mw-tch{
        gap:40px;
    }
    .tech-text h2{
        font-size: 1.5em;
    }
    .icon-tch{
        font-size: 3em;
    }
}