.cont-our{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    min-height: 540px;
    position: relative;
    z-index: 9999;
}
.our-text{
    text-align: center;
}
.our-text h2{
    color:var(--white);
    font-weight: 700;
    line-height: 1.8;
}
.our-text p{
    color: var(--ultra-light-grey);
}
.row-center{
    display: flex;
    justify-content: center !important;
}
.flex{
    display: flex;
    justify-content: center;
}
.our-text p,
.card-text p,
.card-text h4 {
  font-weight: 600;
  line-height: 1.8;
}
.cta-card{
    border-radius: 3px;
}

/*Card*/
.contenedor-card{
    background-color: aliceblue;
    border-radius: 3px;
    width: 322px;
    height: 366px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    text-align: center;
}
.circle-blue{
    background-color: var(--blue);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card-text {
    text-align: center;
}
.card-text h4{
    color: var(--black);
}
.card-text p {
    color: var(--light-grey);
}

@media (width < 576px) {
    .row-center{
        gap:20px;
    }
    .circle-blue{
        width: 30px;
        height: 30px;
    }
    .contenedor-card{
        padding: 20px 15px;
   }
   .icon-card {
    font-size: 0.8em; 
    }
}

@media (min-width: 576px) and (max-width: 767.99px){
    .row-center{
        gap:20px;
    }
    .circle-blue{
        width: 35px;
        height: 35px;
    }
    .contenedor-card{
        padding: 20px 15px;
    }
   .icon-card {
    font-size: 0.9em; 
}
}


@media (min-width: 768px) and (max-width: 991.99px){
    .row-center{
        gap:20px;
    }
    
    .circle-blue{
        width: 40px;
        height: 40px;
    }
    .contenedor-card{
        padding: 20px 15px;
    }
   .icon-card {
        font-size: 1em; 
    }
}

@media (min-width: 992px) and (max-width:1199.99px){
   
    .circle-blue{
        width: 45px;
        height: 45px;
    }
    .contenedor-card{
        padding: 40px 25px;
   }
   .icon-card {
        font-size: 1.1em; 
    }
}
@media (width > 1200px){
    .our-text h4{
        font-size: 1.625em;
    }
    .our-text p, .card-text h4 {
        font-size: 0.906em;
    }
    .card-text p,
    .cta-card {
        font-size: 0.75em;
    }
    .circle-blue{
        width: 50px;
        height: 50px;
    }
    .contenedor-card{
        padding: 2em;
    }
   .icon-card {
        font-size: 1.25em; 
    }
}


