.cont-our{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    height: auto;
    position: relative;
    z-index: 9999;
}
.our-text{
    text-align: center;
}
.our-text h2{
    color:var(--white);
    font-weight: 700;
    line-height: 1.8;
}
.our-text p{
    color: var(--ultra-light-grey);
    font-weight: 600;
    line-height: 1.8;
}
.row-center{
    display: flex;
    justify-content: center !important;
}
.flex{
    display: flex;
    justify-content: center;
}
/*Card*/
.contenedor-card{
    background-color: aliceblue;
    padding: 40px 25px;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    text-align: center;
}
.width-card{
  max-width: 400px;
}
.circle-blue{
    width: 50px;
    height: 50px;
    background-color: var(--blue);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card-text {
    text-align: center;
}
.card-text h4{
    font-size: 1em;
    font-weight: 600;
    color: var(--black);
}
.card-text p {
    font-size: 0.8em;
    font-weight: 600;
    color: var(--light-grey);
    line-height: 1.8;
}

@media (width < 1200px){
    .row-center{
        gap:20px;
    }
    .our-text p {
        font-size: 0.7em;
    }
}