:root {
  /*colors*/
  --white: #FFFFFF; 
  --black: #000000;
  --grey: #9EA3AB; 
  --ultra-light-grey: #B2B2B2; 
  --light-grey: #9399A2; 
  --dark-grey: #273244;
  --blue:#3871FF; 

  /*fonts*/
  --font-primary:  "Montserrat", sans-serif;
}
* {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-primary) !important;
}

.contenedor-app {
  background-color: var(--dark-grey);
  padding: 2em 0em;
  position: absolute;
  background-image: url("./assets/bg.jpg");
  background-repeat: no-repeat;
  background-size: 38rem;
  background-position-y: top;
  background-position-x: right;
  width: 100%;
  overflow-x: hidden;
}

