:root {
  /*colors*/
  --white: #FFFFFF; /***/
  --black: #000000;
  --grey: #9EA3AB; /* footer**/
  --ultra-light-grey: #B2B2B2; /**parrafo our services y icons de clientes*/
  --light-grey: #9399A2; /**parrafos y letras de footer*/
  --dark-grey: #273244;  /**background*/
  --blue:#3871FF; /**/
  /*fonts*/
  --font-primary:  "Montserrat", sans-serif;
}

* {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  max-width: 100%;
  font-family: var(--font-primary);  
}
.contenedor {
  background-color: var(--dark-grey);
  height: 2000vh;
  padding: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
}

.bg-img{
  background-image: url("./assets/bg.jpg");  
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: top;
  background-size: contain;
  height: 138vh;
  width: 100%;
}
