.navbar{
    background-color: transparent !important;
}
.navbar-brand{
    font-size: 0.875em;
    font-weight: 600;
    color: var(--white);
}
.navbar-brand:hover, .navbar-brand:focus{
    color: var(--white);
}
.navlink{
    color: var(--light-grey);
    font-weight: 500;
    text-decoration: none;
}
.navlink:hover , .navlink:focus{
    color: var(--white);
}
.wh-hire{
    color: var(--white);
    font-weight: 500;
}
.nav-ul{
    font-size: 0.875em;
    display: flex;
    flex-direction: row;
}
.nav-hm{
    gap: 25px;
    text-align: start;
}
.nav-hm a{
    font-size: 1.375em;
    color: #2D2D2D;
    font-weight: 400;
    line-height: 1.8;
    text-decoration: none !important; 
}
.nav-hm a li{
    list-style-type: none !important;
}
.hire-cta li{
    font-weight: 600;
}
.offcanvas{
    z-index: 9999;
}

@media (width < 575.99px){
    .nav-ul{
        display: none;
    }
}

@media (min-width: 576px) and (max-width: 991.99px){
    .nav-ul{
        display: none;
    }
}

@media (min-width: 992px) and (max-width: 1199.99px){
    .menu{
        display: none;
    }
}
@media (width > 1200px){
    .menu{
        display: none;
    }
}

