.navbar{
    background-color: transparent !important;
    width: 100%;
}
.navbar-brand{
    font-weight: 500;
    color: var(--white);
}
.navbar-brand:hover, .navbar-brand:focus{
    color: var(--white);
    cursor: pointer;
}
.navlink{
    font-weight: 500;
    color: var(--light-grey);
    text-decoration: none;
}
.navlink:hover , .navlink:focus{
    color: var(--white);
}
.wh-hire{
    color:var(--white);
    font-weight: 500;
}