.navbar{
    background-color: transparent !important;
    width: 100%;
}
.navbar-brand{
    font-weight: 500;
    color: var(--white);
}
.navlink{
    font-weight: 500;
    color: var(--light-grey);
    text-decoration: none;
}
.navlink:hover , .navlink:focus{
    color: var(--white);
}